:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
}

body {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--slate);
    background-color: var(--white);
}

h1 {
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 60px;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: var(--navy-blue)
}

a {
    color: currentColor;
    text-decoration: underline;
    font-weight: 500;
    font-size: 12px;
    font-style: normal;
    line-height: 16px;
    letter-spacing: 4%;
}

button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
    color: var(--white);
}

button:hover, button:focus, a:hover, a:focus {
    color: var(--ocean);
    outline: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1128px;
    padding: 0 15px;
    margin: 0 auto;
}

.hero, .principles, .team, .portfolio {
    padding: 60px 0; 
}

.team-title, .portfolio-section-title {
    margin-bottom: 72px;
}

.logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    text-decoration: none;
    margin-right: 76px;
}

.logo-accent {
    color: var(--navy-blue);
}

.section-title {
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--navy-blue);
}

/* #header */
.header .container {
    display: flex;
}

.nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--navy-blue);
    text-decoration: none;
    padding: 24px 0;
}

.contact-info {
    font-style: normal;
    margin-left: auto;
}

.contact-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contact-link {
    font-weight: 400;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* #hero */
.hero {
    background: var(--navy-blue);
}

.hero-title {
    color: var(--white);
    line-height: 1.07;
    text-align: center;
}

.btn-order {
    background: var(--iris);
    letter-spacing: 0.04em;
    cursor: pointer;
}

.btn-order:hover, button:focus {
    background-color: var(--ocean);
}

/* #principles */
.principles .section-title {
    display: none;
}

.principles-list {
    display: flex;
    gap: 24px;
}

.principles-item {
   width: 264px; 
}

.principle-title {
    margin-bottom: 8px;
}

.principle-description {
    font-weight: 400;
}

/* #team */
.team {
    background-color: var(--cloud);
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-member {
    background-color: var(--white);
}

.team-name {
    text-align: center;
}

.team-role {
    text-align: center;
}

/* #portfolio */
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-item {
    flex: 1 1 calc(33.33% - 24px);
}

.portfolio-desc-container {
    border-left: 1px solid var(--cornflower);
    border-right: 1px solid var(--cornflower);
    border-bottom: 1px solid var(--cornflower);
    display: flex;
    flex-direction: column;
}

.portfolio-title {
    margin: 32px auto 8px 16px;
}

.portfolio-category {
    margin: 0 0 32px 16px;
}

/* #footer */
.footer {
    color: var(--cloud);
    background: var(--navy-blue)
}

.logo-footer {
    color: var(--iris);
}
.logo-footer-accent {
    color: var(--cloud);
}